<div>
    <div class="row">
        <form class="col s12">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="beacon-id" class="validate" type="text" ng-model="formData.beaconId">
                            <label for="beacon-id">Beacon ID</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="beacon-name" class="validate" type="text" ng-model="formData.name">
                            <label for="beacon-name">Beacon Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="beacon-desc" class="materialize-textarea" ng-model="formData.description"></textarea>
                            <label for="beacon-desc">Description</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="beacon-clue" class="materialize-textarea" ng-model="formData.clue"></textarea>
                            <label for="beacon-clue">Clue</label>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <h5>Quiz</h5>
                    <div class="row">
                        <h6>Question 1</h6>
                        <div class="col s6">
                            <div class="input-field">
                                <input id="question1_text" type="text" ng-model="formData.quiz[0].question">
                                <label for="question1_text">Question</label>
                            </div>
                            <div class="input-field">
                                <span>Correct Answer</span>
                                <p>
                                    <label>
                                        <input name="question1_correct-answer-select" type="radio" ng-model="formData.quiz[0].correctAnswer" ng-value="formData.quiz[0].answers[0]" />
                                        <span>{{ formData.quiz[0].answers[0] }}</span>
                                    </label>
                                </p>
                                <p>
                                    <label>
                                        <input name="question1_correct-answer-select" type="radio" ng-model="formData.quiz[0].correctAnswer" ng-value="formData.quiz[0].answers[1]" />
                                        <span>{{ formData.quiz[0].answers[1] }}</span>
                                    </label>
                                </p>
                                <p>
                                    <label>
                                        <input name="question1_correct-answer-select" type="radio" ng-model="formData.quiz[0].correctAnswer" ng-value="formData.quiz[0].answers[2]" />
                                        <span>{{ formData.quiz[0].answers[2] }}</span>
                                    </label>
                                </p>
                                <p>
                                    <label>
                                        <input name="question1_correct-answer-select" type="radio" ng-model="formData.quiz[0].correctAnswer" ng-value="formData.quiz[0].answers[3]" />
                                        <span>{{ formData.quiz[0].answers[3] }}</span>
                                    </label>
                                </p>
                            </div>

                        </div>
                        <div class="col s6">
                            <div class="input-field">
                                <input id="question1_answer1" type="text" ng-model="formData.quiz[0].answers[0]">
                                <label for="question1_answer1" >Answer 1</label>
                            </div>
                            <div class="input-field">
                                <input id="question1_answer2" type="text" ng-model="formData.quiz[0].answers[1]">
                                <label for="question1_answer2" >Answer 2</label>
                            </div>
                            <div class="input-field">
                                <input id="question1_answer3" type="text" ng-model="formData.quiz[0].answers[2]">
                                <label for="question1_answer3" >Answer 3</label>
                            </div>
                            <div class="input-field">
                                <input id="question1_answer4" type="text" ng-model="formData.quiz[0].answers[3]">
                                <label for="question1_answer4" >Answer 4</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-action">
                    <button class="btn waves-effect waves-light" type="submit" name="create-action" ng-click="createBeacon()">Submit</button>
                    <p>{{ updateMessage }}</p>
                </div>
        </form>
        </div>
    </div>
</div>
