#right-content {
  padding-left: 300px;
}

@media only screen and (max-width: 992px) {
  #right-content {
    padding-left: 0;
  }
}

.logo {
  text-align: center;
  margin-top: 20px;
}

.logo img {
  height: 100px;
}